version: '2'

volumes:
  humaid-public:

services:
  nginx:
    container_name: mks-nginx
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    links:
      - php
    ports:
      - $PORT:80
      - $HTTPS_PORT:443
    volumes_from:
      - php
    volumes:
      - "./shared/logs/nginx:/var/log/nginx"
      - "humaid-public:/var/www/humaid"
    networks:
      default:
        aliases:
          - $NGINX_ALIAS
    restart: always
  humaid-build:
    container_name: humaid-build
    build:
      context: ./shared/humaid
      dockerfile: ./../../docker/humaid/Dockerfile
    volumes:
      - "humaid-public:/humaid/public"
  php:
    container_name: mks-app
    build:
      context: ./docker/php
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    links:
      - db
    volumes:
      - "./shared/homeless:/var/www/symfony"
    restart: always
  db:
    container_name: mks-db
    image: mariadb:10.3
    expose:
        - "3306"
    ports:
        - 127.0.0.1:$MYSQL_PORT:3306
    volumes:
        - "./shared/mysql/data/db:/var/lib/mysql"
    environment:
        MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
        MYSQL_DATABASE: $MYSQL_DATABASE
        MYSQL_USER: $MYSQL_USER
        MYSQL_PASSWORD: $MYSQL_PASSWORD
    restart: always
