version: '2'

volumes:
  maven_deps:
  npm_deps:

services:
  nginx:
    container_name: mks-nginx
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    links:
      - php
    ports:
      - $PORT:80
      - $HTTPS_PORT:443
    volumes_from:
      - php
    volumes:
      - "./shared/logs/nginx:/var/log/nginx"
      - "./shared/humaid/public:/var/www/humaid/public"
    networks:
      default:
        aliases:
          - $NGINX_ALIAS
    restart: always
  php:
    container_name: mks-app
    build:
      context: ./docker/php
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    links:
      - db
    volumes:
      - "./shared/homeless:/var/www/symfony"
    restart: always
  db:
    container_name: mks-db
    image: mariadb:10.3
    expose:
        - "3306"
    ports:
        - 127.0.0.1:$MYSQL_PORT:3306
    volumes:
        - "./shared/mysql/data/db:/var/lib/mysql"
    environment:
        MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
        MYSQL_DATABASE: $MYSQL_DATABASE
        MYSQL_USER: $MYSQL_USER
        MYSQL_PASSWORD: $MYSQL_PASSWORD
    restart: always
  humaid_build:
    container_name: mks-humaid-build
    image: theasp/clojurescript-nodejs:shadow-cljs
    build:
      context: ./docker/cljs
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    working_dir: /app
    volumes:
      - "npm_deps:/home/node/.npm/"
      - "maven_deps:/home/node/.m2/"
      - "./shared/humaid:/app/"
    command: >
      bash -c "npm install
      && npx shadow-cljs release :app"
