{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.filename %}
        <p>

            <iframe
                    src=http://docs.google.com/viewer?url={{ app.request.uriForPath(vich_uploader_asset(object, 'file'))|url_encode}}&amp;embedded=true
                    width="800px"
                    height="400px"
                    style="border: none;">
            </iframe>
        </p>
        <p>
            <a href="{{ vich_uploader_asset(object, 'file') }}" download>{{ object.filename }}</a>
        </p>
    {% endif %}
{% endblock %}
