{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.filename %}
        <p>
            {% if '.png' in object.filename or '.gif' in object.filename or '.jpg' in object.filename or '.jpeg' in object.filename %}
                <img src="{{ vich_uploader_asset(object, 'file') }}" width="400px"/>
            {% else %}
                <iframe
                        src=http://docs.google.com/viewer?url={{ app.request.uriForPath(vich_uploader_asset(object, 'file'))|replace({' ': '%20', '/app_dev.php': ''}) }}&amp;embedded=true
                        width="800px"
                        height="400px"
                        style="border: none;">
                </iframe>
            {% endif %}
        </p>
        <p>
            <a href="{{ vich_uploader_asset(object, 'file') }}" download>{{ object.filename }}</a>
        </p>
    {% endif %}
{% endblock %}
