;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cljs-ajax "0.8.0"]
  [metosin/reitit "0.5.5"]
  [reagent "0.10.0"]
  [org.clojars.frozenlock/reagent-keybindings "1.0.2"]]

 :dev-http {8142
            {:root "public"

             ;; адрес на котором запущен МКС
             :proxy-url "http://localhost" ;; TODO use config
             }}

 :builds
 {:app {:target :browser
;;        :output-dir "public/js"
        ;;        :asset-path "/js"
        :modules {:main {:init-fn humaid.app/init!}}}}}

