;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cljs-ajax "0.8.0"]
  [metosin/reitit "0.5.5"]
  [reagent "0.10.0"]
  [org.clojars.frozenlock/reagent-keybindings "1.0.2"]]

 :dev-http {8142
            {:root "public"

             ;; Адрес на котором запущен МКС.
             ;; Подробнее: https://shadow-cljs.github.io/docs/UsersGuide.html#dev-http-proxy
             :proxy-url "http://localhost/app_dev.php"
             }}

 :builds
 {:app
  {:target :browser
   :dev {:closure-defines {humaid.app/APP-PREFIX ""
                           humaid.app/MKS-ADDR "http://localhost/"}}
   :modules {:main {:init-fn humaid.app/init!}}}}}
